{% extends 'base.html' %}
{% block content %}
<h3>{{ paciente and 'Editar' or 'Novo' }} Paciente</h3>
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="mb-3">{{ form.nome.label }} {{ form.nome(class='form-control') }}</div>
  <div class="mb-3">{{ form.data_nascimento.label }} {{ form.data_nascimento(class='form-control') }}</div>
  <div class="mb-3">{{ form.idade.label }} {{ form.idade(class='form-control') }}</div>
  <div class="mb-3">{{ form.diagnostico.label }} {{ form.diagnostico(class='form-control') }}</div>
  <div class="mb-3">{{ form.responsavel.label }} {{ form.responsavel(class='form-control') }}</div>
  {{ form.submit(class='btn btn-primary') }}
</form>
{% endblock %}
