{% extends "base.html" %}
{% block title %}Registrar - Clínica ABA{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-6">
    <h3>Registrar usuário</h3>
    <form method="post">
      <div class="mb-3">
        <label>Nome</label>
        <input type="text" name="nome" class="form-control" required>
      </div>
      <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required>
      </div>
      <div class="mb-3">
        <label>Senha</label>
        <input type="password" name="senha" class="form-control" required>
      </div>
      <div class="mb-3">
        <label>Papel</label>
        <select name="papel" class="form-select">
          <option value="profissional">Profissional</option>
          <option value="coordenador">Coordenador</option>
          <option value="adm">Admin</option>
        </select>
      </div>
      <div class="mb-3">
        <label>Especialidade (opcional)</label>
        <input type="text" name="especialidade" class="form-control">
      </div>
      <button class="btn btn-success">Criar</button>
    </form>
  </div>
</div>
{% endblock %}
